.container {
    margin: 20px auto;
}

.weather-app {
    max-width: 800px;
    margin: 0 auto;
}

p {
    font-weight: 600;
    font-size: calc(12px + 1vw);
    margin: 0;
}

a {
    color: orangered;
    cursor: default;
    text-decoration: none;
    transition: all 200ms ease;
}

a:hover {
    color: rgba(255, 69, 0, 0.6);
    cursor: pointer;
}

button {
    border-radius: 6px;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
        rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

button.submit {
    background-color: rgba(255, 69, 0, 0.05);
    border: 2px orangered solid;
    transition: all 200ms ease-in-out;
}

button.submit:hover {
    cursor: pointer;
    color: rgba(255, 69, 0, 0.8);
    background-color: rgba(0, 0, 0, 0.8);
    border: 2px orangered solid;
}

button.current-location {
    background-color: rgba(255, 69, 0, 0.05);
    border: 2px black solid;
    transition: all 200ms ease-in-out;
}

button.current-location:hover {
    cursor: pointer;
    color: rgba(255, 69, 0, 0.8);
    background-color: rgba(0, 0, 0, 0.8);
    border: 2px black solid;
}

.searchbar input {
    height: calc(1.5em + 0.75rem + 2px);
    width: 100%;
    border-radius: 6px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
        rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.today {
    position: relative;
    background-color: rgba(255, 69, 0, 0.05);
    border: 2px orangered solid;
    border-radius: 6px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
        rgba(17, 17, 26, 0.05) 0px 8px 32px;
    margin: 10px auto;
}

.today img {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    opacity: 0.85;
    width: 100%;
    max-width: 180px;
}

.today strong {
    color: orangered;
    font-size: calc(28px + 4vw);
    font-weight: 600;
}

.today ul {
    position: absolute;
    bottom: 0;
    right: 10px;
    list-style-type: none;
    padding: 0;
    text-align: right;
    font-size: calc(12px + 0.6vw);
}

.today a {
    text-decoration: none;
    color: rgba(255, 69, 0, 0.5);
}

.today a:hover {
    color: orangered;
}

a.active {
    color: orangered;
    cursor: default;
    text-decoration: none;
}

a.active:hover {
    color: orangered;
}

.city {
    display: block;
    font-size: calc(16px + 1vw);
    font-weight: 600;
    text-transform: capitalize;
}

.date {
    font-size: calc(12px + 0.7vw);
    text-align: right;
}

.description:first-letter {
    text-transform: capitalize;
}

.temp-units {
    position: relative;
    top: -30px;
    color: orangered;
    font-size: calc(20px + 0.5vw);
    font-weight: 600;
}

.forecast {
    border: 2px grey solid;
    border-radius: 6px;
    margin: 0 auto;
    text-align: center;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
        rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.forecast i {
    font-size: calc(18px + 4vw);
    margin: 10px;
}

.forecast img {
    width: 40px;
    margin: 5px auto;
}

.forecast strong {
    color: orangered;
    font-size: calc(14px + 1vw);
    padding: 0;
}

strong.forecast-temp-min {
    font-size: calc(12px + 0.8vw);
    color: rgba(255, 69, 0, 0.6);
}

.footer {
    font-size: 12px;
    font-weight: 400;
    color: grey;
    padding-top: 10px;
}
